@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

body {
  margin: 0;
    font-family: 'Stick', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.stick-font {
    font-family: 'Stick', sans-serif;
}